
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

venv/
.env/
env/
.venv/
.env

db.sqlite3
*.log

media/
staticfiles/
static/

.vscode/
.idea/
*.swp


frontend/node_modules/
frontend/build/
frontend/.env


.DS_Store
Thumbs.db
desktop.ini

*.bak
*.tmp
