.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  overflow: hidden;
}

.hero-decoration-left,
.hero-decoration-right {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.35;
}

.hero-decoration-left {
  background: #ffb7d5;
  left: -150px;
  bottom: -80px;
}

.hero-decoration-right {
  background: #a578ff;
  right: -150px;
  top: -80px;
}

.hero-content {
  z-index: 3;
  max-width: 800px;
  padding: 20px;
}

.faculty-label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #3e006d;
  margin-bottom: 10px;
  opacity: 0.85;
}

.hero-title {
  font-size: 55px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
}

.hero-title em {
  color: #ce45ff;
  font-style: normal;
}

.button-group {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-soft {
  padding: 14px 34px;
  border-radius: 10px;
  border: none;
  background: rgba(236, 140, 235, 0.65);
  backdrop-filter: blur(8px);

  font-size: 18px;
  font-weight: 600;
  color: #2c0068;
  cursor: pointer;

  transition: 0.3s;
}

.btn-soft:hover {
  transform: translateY(-3px);
  background: rgba(238, 160, 241, 0.85);
}

.btn-danger-soft {
  padding: 14px 34px;
  border-radius: 10px;
  border: none;
  background: #ff5a5a;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-danger-soft:hover {
  transform: translateY(-3px);
  background: #e84747;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 40px;
  }

  .button-group {
    flex-direction: column;
  }

  .btn-soft,
  .btn-danger-soft {
    width: 100%;
  }
}
