#portfolio-content {
  width: 794px;
  margin: 0 auto;
  background: white;
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
